a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
}
.logo-link{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1, 19;
        letter-spacing: 0.03em;
        color: #2196F3;
    }
    .logo-accent {
        color: #212121;
    }
    .logo-footer{
        color: white;
    }
.menu-link{
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.menu-link:hover,
.menu-link:focus{
    color: #2196F3;
}
.header-tel-mail{
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
}
.header-tel-mail :hover,
.header-tel-mail:focus{
    color: #2196F3;
}
.hero{
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
}
.hero-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
}
.service{
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.information{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.information-text-team{
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}
.information-job-team{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: #212121;
}
.team-name{
    font-family: 'Roboto',sans-serif;
    font-weight:500;
    font-size: 16px;
    line-height: 1.18;
    color: #212121;
}
/*=============== foter ================*/
.footer{
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;
}
.adress-maps{
    font-family:'Roboto',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    color: #FFFFFF;
}
.adress-contact{
    font-family: 'Roboto',
    sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    /*=============== foter ================*/
}
/*=============== Portfolio================*/
.logo-link-portfolio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-accent-portfolio {
    color: #212121;
}

.logo-footer-portfolio {
    color: white;
}

.menu-link-portfolio {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.menu-link-portfolio:hover,
.menu-link-.logo-link-portfolio {
    color: #2196F3;
}

.header-tel-mail-portfolio {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
}

.header-tel-mail-portfolio :hover,
.header-tel-mail-portfolio:focus {
    color: #2196F3;
}
.portfolio-setting{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62; 
    color: #FFFFFF;
}
.information-portfolio{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
}
.information-web{
    font-family: 'Roboto',
    sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}
.footer-portfolio{
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 2097px;
        background: #2F303A;
}
.adress-maps-portfolio {
    font-family: 'Roboto',
    sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}

.adress-contact-portfolio {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

/*=============== Portfolio================*/
